/MarcelJoachimKloubert.CLRDashboard.v12.suo
/MarcelJoachimKloubert.CLRDashboard/Web.Release.config
/MarcelJoachimKloubert.CLRDashboard/bin
/MarcelJoachimKloubert.CLRDashboard/obj
/MarcelJoachimKloubert.CLRDashboard/MarcelJoachimKloubert.CLRDashboard.csproj.user
/MarcelJoachimKloubert.CLRDashboard/Web.config
/MarcelJoachimKloubert.CLRDashboard/Web.Debug.config
/MarcelJoachimKloubert.CLRDashboard.SDK/obj
/MarcelJoachimKloubert.CLRDashboard.SDK/bin
/MarcelJoachimKloubert.CLRDashboard.Monitors.MySQL/obj
/MarcelJoachimKloubert.CLRDashboard.Monitors.MySQL/bin
/MarcelJoachimKloubert.CLRDashboard.Monitors.Drives/obj
/MarcelJoachimKloubert.CLRDashboard.Monitors.Drives/bin
/MarcelJoachimKloubert.CLRDashboard.Monitors.MongoDB/obj
/MarcelJoachimKloubert.CLRDashboard.Monitors.MongoDB/bin
/MarcelJoachimKloubert.CLRDashboard.Monitors.MSSQL/obj
/MarcelJoachimKloubert.CLRDashboard.Monitors.MSSQL/bin
/MarcelJoachimKloubert.CLRDashboard/conf/monitors.json
/MarcelJoachimKloubert.CLRDashboard/monitors/*.dll
/MarcelJoachimKloubert.CLRDashboard/monitors/*.pdb
