/*
    LICENSE: AGPL 3 - https://www.gnu.org/licenses/agpl-3.0.txt

    s. https://github.com/mkloubert/clr-dash
*/


body {
    padding: 4.5em 0.5em 1em 0.5em;
}

.media .media-left .media-object {
    width: 3.5em;
}

.media .media-left {
    padding-right: 0.5em;
}

.media .media-body {
    padding-left: 0.5em;
}

.cdbAjaxLoader {
    clear: both;
    display: block;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
}
