<?xml version="1.0" encoding="utf-8"?>

<!--
  LICENSE: AGPL 3 - https://www.gnu.org/licenses/agpl-3.0.txt

  s. https://github.com/mkloubert/clr-dash
-->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <appSettings>
    <add key="ApiKey_VirusTotalCom" value="????????????????????????????????????????????????????????????????" />
  </appSettings>
</configuration>